.livestream {
    position: relative;
    width: 100%;
}

.livestream .WebCam {
    position: absolute;
    bottom: 180px;
    left:30px;
}
 
.livestream .webCamModeration {
    position: absolute;
    height:235px;
    padding-left:10px;
    width: 276px;
    border: solid red 5px;
    background-color: red;
    color: rgb(255, 240, 240);
    font-size: bold;
    bottom: 176px;
    left:42px;
    border-radius: 10px;
}
.livestream .videoModeration {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 40 px;
  width: 400px;
  background-color: rgb(255, 0, 0, 0.6);
  color:rgb(255, 240, 240);
  font-weight: bold;
  padding-left: 10px;
  z-index: 100;
}
.livestream .bgVideo {
    width: 100%;
  height: 90%;
}



.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 10px;
}


.WebCam button {
  background-color: crimson;
  color: #fff;
  margin-top: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.ChatBox {
    position: absolute;
    bottom: 280px;
    left:30px;
}

.ChatBox .MessageArea {
    background-color: rgb(16, 16, 38);
    opacity: 0.70;
    border: solid 1px black;
    color: whitesmoke;
}
.ChatBox .MessageArea {
    position: absolute;
    left: 15px;
    bottom: 180px;
    width: 588px;
    min-height: 300px;
    max-height: 600px;
    border-radius: 4px;
    padding: 10px;
    overflow: auto;
}

.ChatBox .MessageArea .you {
    display: block;
    width:100%;
    padding-bottom: 10px;
}
.ChatBox .MessageArea .awsome23gammer {
    display: block;
    width:100%;
    padding-bottom: 10px;
    color: lightgreen;
}
.ChatBox .MessageArea .gamerpro123 {
    display: block;
    color: yellow;
    width:100%;
    padding-bottom: 10px;
}
.ChatBox .MessageArea .moderation {
    border:0px;
    color:orange;
    font-size: 12px;
}
.ChatBox .ChatInput {
    position: absolute;
    opacity: 0.70;
    bottom: 120px; 
    left: 15px;
    font-size: 14px;
    width: 605px;
}
.ChatBox .ChatInput textarea{
    position: relative;
    width: 100%;
    border: solid 1px black;
}
.ChatBox .ChatInput .valid{
    background-color: rgb(16, 16, 38);
    color: whitesmoke;
    width: 565px;
    outline: none;
}
.ChatBox .ChatInput .invalid, .ChatBox .ChatInput .invalid:focus{
    background-color: rgb(16, 16, 38);
    border:4px solid red;
    color: whitesmoke;
    width: 565px;
    outline: none;
    z-index: 101;
}
.ChatBox .ChatInput .inline_message{
    position: absolute;
    bottom: -15px;
    left: 460px;
    color: red;
    font-size: 12px;
    width:105px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: pink;
    border: solid 1px red;
}
.ChatBox .ChatInput .simu {
    position: absolute;
    top:-300px;
    display: none;
}
.ChatBox .ChatInput .microphone-on {
    position: absolute;
    background: url("../static/microphone-on.png") center;
    background-size:cover;
    background-color: black;
    float:right;
    right: 17px;
    width: 30px;
    height: 48px;
    border: 0px;
    margin: 0px 0px 0px 8px;
}
.ChatBox .ChatInput .microphone-off {
    position: absolute;
    background: url("../static/microphone-off.png") center;
    background-size:cover;
    background-color: black;
    float:right;
    right: 17px;
    width: 30px;
    height: 48px;
    border: 0px;
    margin: 0px 0px 0px 8px;
}
